
<!-- Navright -->
<ul id="nav" class="hidden-xs">
	<li><a class="click" href="#intro" title="Next Section"><span
			class="glyphicon glyphicon-minus"></span></a></li>
	<li><a class="click" href="#second" title="Next Section"><span
			class="glyphicon glyphicon-minus"></span></a></li>
	<li><a class="click" href="#third" title="Next Section"><span
			class="glyphicon glyphicon-minus"></span></a></li>
</ul>
<!-- /Navrigth -->

<div class="row">
	<div id="intro" class="hidden-xs">
		<div class="row mainTextbox">
			<h1 id="name">WIT-WORK</h1>
			<p id="description">
				Der Verarbeitungsmechanismus im Gehirn, der bewirkt, dass eine
				überraschende <br>oder verstörende Botschaft vom Empfänger mit
				Gelächter quittiert wird. (vgl. Witz) <br> <a type="button"
					class="btn btn-danger click" href="#second">Explore</a>
			</p>
		</div>
	</div>
</div>


<div class="row">
	<div id="second" class="hidden-xs">
		<div class="row horizontalTextbox">
			<div class="col-md-7 col-md-offset-2">
				<blockquote class="blockquote">
					<h2>Community</h2>
					<p>Unter dem Namen Wit-Work kommen junge Künstler,
						Streetartists und Designer zusammen, um ihre Designs von
						Galeriewänden und Fassaden dorthin zu bringen, wo Kunst beginnt:
						bei den Menschen! Werde mit einem Wit-Work Shirt Teil der lebenden
						Galerie! Finde dich wieder in den Abenteuern des Alltags und
						stelle dich den großen und kleinen Fragen des Lebens – in
						eleganten Designs auf den Punkt gebracht.Die Wit-Work Community
						wächst und du kannst die Entwicklung unserer Designs mit Hilfe des
						ANCESTREEs (Online-Stammbaums) nachverfolgen: Finde das Design
						deines Shirts und spüre seine Brüder im Geiste und
						Gesinnungsschwestern auf – vielleicht begegnest du ja bald einer
						verwandten Seele auf der Straße...</p>
				</blockquote>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div id="third" class="hidden-xs">
		<div class="row horizontalTextbox">
			<div class="col-md-7 col-md-offset-2">
				<blockquote class="blockquote-reverse">
					<h2>Werde ein Teil</h2>
					<p>Doch wir verfolgen nicht nur eine Linie, wir brauchen immer
						wieder frisches Blut: Darum kannst du dich auf unserer Seite nicht
						nur über COREWOOD und FORESTERS (Artists und Manager) sondern auch
						über BRANCHES und <a href="#/twigs">TWIGS</a> (Special Editions und Features Artists)
						informieren oder selbst Kontakt aufnehmen, um dich vielleicht auch
						in der Wit-Wortk Chronik zu verewigen! Mach dich kundig über
						unsere aktuellen Projekte und besuch uns, die wir alle aus
						demselben Holz geschnitzt sind, doch auch einmal in der Galerie
						oder bei einem anderen Event! Wiedersehen macht Freude...</p>
				</blockquote>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div id="smallBody" class="visible-xs">
		<div class="row mainTextbox">
			<h1 id="nameSmall">WIT-WORK</h1>
			<p id="description">
				Der Verarbeitungsmechanismus im Gehirn, der bewirkt, dass eine
				überraschende <br>oder verstörende Botschaft vom Empfänger mit
				Gelächter quittiert wird. (vgl. Witz) <br> <a type="button"
					class="btn btn-danger click"
					href="#secondSmall">Explore</a>
			</p>
		</div>
		<div id="secondSmall" class="row horizontalTextbox">
			<blockquote class="blockquote">
				<h2>Community</h2>
				<p>Unter dem Namen Wit-Work kommen junge Künstler, Streetartists
					und Designer zusammen, um ihre Designs von Galeriewänden und
					Fassaden dorthin zu bringen, wo Kunst beginnt: bei den Menschen!
					Werde mit einem Wit-Work Shirt Teil der lebenden Galerie! Finde
					dich wieder in den Abenteuern des Alltags und stelle dich den
					großen und kleinen Fragen des Lebens – in eleganten Designs auf den
					Punkt gebracht.Die Wit-Work Community wächst und du kannst die
					Entwicklung unserer Designs mit Hilfe des ANCESTREEs
					(Online-Stammbaums) nachverfolgen: Finde das Design deines Shirts
					und spüre seine Brüder im Geiste und Gesinnungsschwestern auf –
					vielleicht begegnest du ja bald einer verwandten Seele auf der
					Straße...</p>
			</blockquote>
		</div>
		<div class="row horizontalTextbox">
			<blockquote class="blockquote-reverse">
				<h2>Werde ein Teil</h2>
				<p>Doch wir verfolgen nicht nur eine Linie, wir brauchen immer
					wieder frisches Blut: Darum kannst du dich auf unserer Seite nicht
					nur über COREWOOD und FORESTERS (Artists und Manager) sondern auch
					über BRANCHES und TWIGS (Special Editions und Features Artists)
					informieren oder selbst Kontakt aufnehmen, um dich vielleicht auch
					in der Wit-Wortk Chronik zu verewigen! Mach dich kundig über unsere
					aktuellen Projekte und besuch uns, die wir alle aus demselben Holz
					geschnitzt sind, doch auch einmal in der Galerie oder bei einem
					anderen Event! Wiedersehen macht Freude...</p>
			</blockquote>
		</div>
	</div>
</div>
<div class="row">
	<div id="footer">
		<div class="container">
			<dl id="bottomInformation"
				class="dl-horizontal col-md-4 col-md-offset-4 lead">
				<dt>Facebook</dt>
				<dd>Link</dd>
				<dt>Twitter</dt>
				<dd>Link</dd>
				<dt>Impressum</dt>
				<dd>Link</dd>
			</dl>
		</div>
	</div>
</div>


<script type="text/javascript">
	
function detectIE() {
	var ua = window.navigator.userAgent;
	var msie = ua.indexOf('MSIE ');
	var trident = ua.indexOf('Trident/');

	if (msie > 0) {
		// IE 10 or older => return version number
		return parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)),
				10);
	}

	if (trident > 0) {
		// IE 11 (or newer) => return version number
		var rv = ua.indexOf('rv:');
		return parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
	}

	// other browser
	return false;
}
var foo = detectIE();
if (foo != false) {
	$("#intro").css({background:"grey url(img/first.jpg) no-repeat"});
	$("#second").css({background:"grey url(img/second.jpg) no-repeat"});
	$("#third").css({background:"grey url(img/third.jpg) no-repeat"});
}

	$(document).ready(
			function() {
				
				$('.click[href^="#"]').bind('click.smoothscroll', function(e) {
					e.preventDefault();

					var target = this.hash, $target = $(target);

					$('html, body').stop().animate({
						'scrollTop' : $target.offset().top -44
					}, 900, 'swing');
				});

				var foo = detectIE();
				if (foo == false) {
					$('#intro').parallax("0%", 0.2);
					$('#second').parallax("0%", 0.2);
					$('#third').parallax("0%", 0.2);
					
				} else {
				}
			});
</script>
