<div class="row jumbotron text-center">
		<h1 id="top">NEWS</h1>
</div>

<div class="row">
		<div class="row horizontalTextbox">
			<div class="col-md-7 col-md-offset-2">
				<blockquote class="blockquote">
					<h2>Juli</h2>
					     <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
					<img src="img/first.jpg" width="100px"  height="100px" alt="..." class="img-thumbnail">
						<img src="img/second.jpg" width="100px"  height="100px" alt="..." class="img-thumbnail">
				</blockquote>
			</div>
		</div>
</div>

<div class="row">
		<div class="row horizontalTextbox">
			<div class="col-md-7 col-md-offset-2">
				<blockquote class="blockquote-reverse">
					<h2>Juni</h2>
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
						
				</blockquote>
			</div>
		</div>
</div>