<div id="twigs" ng-controller="AccordionDemoCtrl">
	<div class="row jumbotron text-center">
		<h1 id="top">TWIGS</h1>
	</div>
	<accordion> <accordion-group is-open="acc1IsOpen">
	<accordion-heading> Luka <i
		class="pull-right glyphicon"
		ng-class="{'glyphicon-chevron-down': acc1IsOpen, 'glyphicon-chevron-left': !acc1IsOpen}"></i>
	</accordion-heading>
	<div class="row productsTextbox">
		<div class="col-md-4 userimg">
			<img alt="" src="img/blank.png">
		</div>
		<div class="col-md-8 usertext">
			<div class="col-md-offset-2 col-md-8">
				<h2>Luka Leben</h2>
				<blockquote>
					<p>...geboren 1989, Studium an der Universität für Angewandte
						Kunst (Wien) und der Universität Mozarteum (Salzburg). Realisiert
						-oft interaktive- künstlerische Projekte, schreibt und illustriert
						Kinder- und Jugendbücher, eine Kolumne für das BÖKWE-Fachblatt und
						gelegentlich auch Zeitungsartikel. Sie übernimmt
						Gestaltungsaufträge im Bereich Malerei (speziell Portrait), Grafik
						(speziell Buchillustration) und Street Art und interessiert sich
						für literarische Projekte aller Art. Aktuell in Arbeit: „Shopping
						for Identity“</p>
						<h3>Kontakt</h3>
						<p>Luka.Leben@gmx.at</p>
				</blockquote>
			</div>
		</div>
	</div>
	</accordion-group> 
	
	<accordion-group is-open="acc2IsOpen">
	<accordion-heading>Lorem ipsum<i
		class="pull-right glyphicon"
		ng-class="{'glyphicon-chevron-down': acc2IsOpen, 'glyphicon-chevron-left': !acc2IsOpen}"></i>
	</accordion-heading>
	<div class="row productsTextbox">
		<div class="col-md-4 userimg">
			<img alt="" src="img/blank.png">
		</div>
		<div class="col-md-8 usertext">
			<div class="col-md-offset-2 col-md-8">
				<h2>Lorem ipsum</h2>
				<blockquote>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				</blockquote>
			</div>
		</div>
	</div>
	</accordion-group> 
	
	<accordion-group is-open="acc3IsOpen">
	<accordion-heading>Lorem ipsum<i
		class="pull-right glyphicon"
		ng-class="{'glyphicon-chevron-down': acc3IsOpen, 'glyphicon-chevron-left': !acc3IsOpen}"></i>
	</accordion-heading>
	<div class="row productsTextbox">
		<div class="col-md-4 userimg">
			<img alt="" src="img/blank.png">
		</div>
		<div class="col-md-8 usertext">
			<div class="col-md-offset-2 col-md-8">
				<h2>Lorem ipsum</h2>
				<blockquote>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				</blockquote>
			</div>
		</div>
	</div>
	</accordion-group> 
	
	
	<accordion-group is-open="acc4IsOpen">
	<accordion-heading>Lorem ipsum<i
		class="pull-right glyphicon"
		ng-class="{'glyphicon-chevron-down': acc4IsOpen, 'glyphicon-chevron-left': !acc4IsOpen}"></i>
	</accordion-heading>
	<div class="row productsTextbox">
		<div class="col-md-4 userimg">
			<img alt="" src="img/blank.png">
		</div>
		<div class="col-md-8 usertext">
			<div class="col-md-offset-2 col-md-8">
				<h2>Lorem ipsum</h2>
				<blockquote>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				</blockquote>
			</div>
		</div>
	</div>
	</accordion-group> </accordion>

</div>
